  * {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0; 
    margin: 10;
    box-sizing: border-box;
  }
  body > * {  
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  .dark-mode {
    background-color: black;
    color: rgb(7, 3, 3);
  }

  header {
    height: 10vh; 
    background:burlywood;
    color: black ;
    top: 0; 
    display:flex;
    justify-content: space-between; 
    align-items:left; 
    box-shadow: 0.5px 0.5px 10px 0.5px #000;
    color:#fff
    padding:1rem 2rem; 
    position: static;
  }

  .dark,
  .dark header {
    background-color: #263238;
    color: #fff;
  }
  nav {
    display:flex;
    justify-contents: flex-end; 

  }
  nav a {
    display:block;
    padding: 0 1em;
    text-decoration: none;
    font-size: 1rem;
    color: white 
  }
  main {
    height: 90vh;
    background-image:url("https://lh3.googleusercontent.com/pw/AJFCJaVO2eUL4J5ItMc6xjAYCwZp9xxESS1lkS06LhJKxAcfb0W77oQJvXMe0CCC5PRb22kYWUplz47OPCOSIOQKoCSaSlhHsjPtMclAQIlZpVJZkzXkWRRyyU3YBVGa-V3V3f1zcb3mtn3_tM9PNtX_umusZT0PSkqHC1SMYeCeN5J5L1MZ6yBpiHw5D05JuEo-nW8L23dLOQ-VPZZFioscV2739eg3WTabEGy8BL4vcuNcqUcFMrWtPbmrHQj8gOHA7L64ys2D9qHLoJ8t9Lf267yR33E0FRtn6DBl2Pph8Y7WUI-4L4K7K0J51eA78UBhaTqMkOnTTfoL191wgmjaWihaMyODdYETCFlrYh9CoDyCT8WGIFgGjQYnADBO27CSW4KQNudRg_6QBWxgMivKZqD4bsVlMCWXrZsQFmOXB3c8EiaYxohmDoACK_qe9G7ge8GnE6UED2RDUwDMLLira_yEHZ-4z6Y7I69lramwixmjK6k3YIfeczfwUGPYLiYjXrVuR0_yXWYvucXw39HYV5oDt8gtKxX-qKS2B5NJ-NtMGVt1PNDzLfAYS1fyMEgop2k8qFu8mFwYX9nhbqJqPgmwMV4e4rV0ntHwDqtZxFPGfG689D4JvIWaj_xbLoUVdE9mX9H7LvPFzN-VMhcWnJJTzeNOO-DYdNEQ52VQ-T3gXsMlL5xQQ2_diiEGMShshGNRM_6alAjyy0vj7L_KnGhQDEEjPGSNFWUOgJa7_jpiyQRB9NEMi45LkElhtJrrE7bKg6rQLySvZKSMPU1nkp5FovBEzlJvH-cjOsO5_vKYatJ8qj_gun_wuCDeou6X1vApZg6Er6zKVJwRrT88Gy8DhA4C0hd7tdOq_gW107qKug5Xx7phPAn8dd1Y1ECgm_0W6v5ay4YPkD-BFNoULFpfojU=w1190-h893-s-no?authuser=0") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

  }
  main > p {
    font-size: 3rem;
  }

  article.primeiro {
    height: 90vh;
    background: rgba(247, 198, 134, 0.12);
    padding: 0 4vw;
    text-align: center;
    font-size: 2rem;
  }
  .segundo{
    height: 80vh;
    background-image: url("https://lh3.googleusercontent.com/pw/AJFCJaWTHu3-MctYncA-XVkMwXwECTFKOJFBc5kyVRQiQGmPsex0gCD654o-fMODyVaXnTwFDwjJYPK6sYRFmKB7UuwpUew46htFIlG9xyOGyEB2PmJlJySTsKsUx5GCTJ1e3Ai8m9qQPDvZ6bsjKvrjs-gA7B-iYlhuwnQWuHf5G_XEyp3P6sdfLuY_7rs7HHF8L3Rz2qJoX2rgduYYED1MAS53L-jlG2cIgnZzkRGTgd0qGxbBeZRpzCJpouYShS2Ch_k6nRLIeZQGdS5JfUcBl3UzCr_4KW4ANgw8ecxC2elFHTey1isIDDfA0_WN2ECokkCsfPPl_8N7jEP06UTDk8MVw6-0qpDbm1Y2sBKeISwbkhIkPZaUGTk7NlG07r6tD6uWTcDTGY6SnFtj787zKXNcmel4CaLpVT3JcTkPvsi__X1pviLKQl-CfiCLNFrkVRoTv-cZaUv7UZICx8bZa6SL3Uw3RFXplQYVzuV6Y7MEfcMTosqDYXLb7xGPL_WajAF4fxeffGu7MtcYMRurTltheWOjgs6lhh68qNxneoQU8qnQe3ON6aHa9yiwSjSNx8kuHwhDcl34B7tCDSamvYH_MdwmFHr5bo-m6oTsduovaEgMyBoSUM2WGE0x7mbwYFiFDWcxURTum-hM-UAI8RiSl3jNGj1nHtOxazFa-kRCEqftfD_JvltgkhBRJv18M_43Wy-us8_av_DrKHQY0ZLcRdB47Qy-dzQKUfwB5_898OyWcxeC_sS55Pwx9R3rnw0EmOOXnHTivzeGOFvJcG4AAYTSh1LGILlMehdz-f7R0oHTx2jX_Nv076AeT6Y0jJFA-UWHtOyz9eryWdeqywA3oMAGaNXPdzGGPg0kOjdBhkaZv_d68NVDpOVKgxrLUKbiVrGdUgKUOGGLG9Jn7ggvtEI=w965-h893-s-no?authuser=0");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  align-items: start;
}
  footer {
    height: 10vh;
    background: black;
    color: white;
  }
